USE [WebTuVanSinhVien]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 12/20/2020 9:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[IDSC] [int] IDENTITY(1,1) NOT NULL,
	[ScoreChange] [float] NULL,
	[DateOfSC] [date] NULL,
	[Reason] [nvarchar](max) NULL,
	[IDUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIELD]    Script Date: 12/20/2020 9:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIELD](
	[IDField] [int] NOT NULL,
	[NameOfField] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDField] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANAGER]    Script Date: 12/20/2020 9:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANAGER](
	[IDManage] [int] IDENTITY(1,1) NOT NULL,
	[Score] [float] NULL,
	[IDUser] [int] NULL,
	[IDField] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDManage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTIONANDANSWER]    Script Date: 12/20/2020 9:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONANDANSWER](
	[QuestionID] [int] NOT NULL,
	[Answer] [nvarchar](max) NULL,
	[TimeOut] [time](7) NULL,
	[DateOfAnswer] [date] NULL,
	[IDField] [int] NULL,
	[Question] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTIONNOTCHECK]    Script Date: 12/20/2020 9:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONNOTCHECK](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[IDStu] [int] NULL,
	[IDUser] [int] NULL,
	[IDField] [int] NULL,
	[Question] [nvarchar](max) NULL,
	[Checked] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTIONQUEUE]    Script Date: 12/20/2020 9:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONQUEUE](
	[IDField] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[DateOfModeration] [date] NULL,
	[IDUser] [int] NULL,
	[Question] [nvarchar](max) NULL,
 CONSTRAINT [PK_QUESTIONQUEUE] PRIMARY KEY CLUSTERED 
(
	[IDField] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 12/20/2020 9:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[IDStu] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDStu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHER]    Script Date: 12/20/2020 9:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHER](
	[IDTea] [int] IDENTITY(1,1) NOT NULL,
	[Score] [float] NULL,
	[IDUser] [int] NULL,
	[IDField] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/20/2020 9:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[Sex] [bit] NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [char](12) NULL,
	[Permission] [int] NULL,
	[PassWord] [char](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD FOREIGN KEY([IDUser])
REFERENCES [dbo].[USERS] ([IDUser])
GO
ALTER TABLE [dbo].[MANAGER]  WITH CHECK ADD FOREIGN KEY([IDField])
REFERENCES [dbo].[FIELD] ([IDField])
GO
ALTER TABLE [dbo].[MANAGER]  WITH CHECK ADD FOREIGN KEY([IDUser])
REFERENCES [dbo].[USERS] ([IDUser])
GO
ALTER TABLE [dbo].[QUESTIONANDANSWER]  WITH CHECK ADD FOREIGN KEY([IDField])
REFERENCES [dbo].[FIELD] ([IDField])
GO
ALTER TABLE [dbo].[QUESTIONANDANSWER]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[QUESTIONNOTCHECK] ([QuestionID])
GO
ALTER TABLE [dbo].[QUESTIONNOTCHECK]  WITH CHECK ADD FOREIGN KEY([IDField])
REFERENCES [dbo].[FIELD] ([IDField])
GO
ALTER TABLE [dbo].[QUESTIONNOTCHECK]  WITH CHECK ADD FOREIGN KEY([IDStu])
REFERENCES [dbo].[STUDENT] ([IDStu])
GO
ALTER TABLE [dbo].[QUESTIONNOTCHECK]  WITH CHECK ADD FOREIGN KEY([IDUser])
REFERENCES [dbo].[USERS] ([IDUser])
GO
ALTER TABLE [dbo].[QUESTIONQUEUE]  WITH CHECK ADD  CONSTRAINT [FK_QUESTIONQUEUE_FIELD] FOREIGN KEY([IDField])
REFERENCES [dbo].[FIELD] ([IDField])
GO
ALTER TABLE [dbo].[QUESTIONQUEUE] CHECK CONSTRAINT [FK_QUESTIONQUEUE_FIELD]
GO
ALTER TABLE [dbo].[QUESTIONQUEUE]  WITH CHECK ADD  CONSTRAINT [FK_QUESTIONQUEUE_QUESTIONNOTCHECK] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[QUESTIONNOTCHECK] ([QuestionID])
GO
ALTER TABLE [dbo].[QUESTIONQUEUE] CHECK CONSTRAINT [FK_QUESTIONQUEUE_QUESTIONNOTCHECK]
GO
ALTER TABLE [dbo].[QUESTIONQUEUE]  WITH CHECK ADD  CONSTRAINT [FK_QUESTIONQUEUE_USERS] FOREIGN KEY([IDUser])
REFERENCES [dbo].[USERS] ([IDUser])
GO
ALTER TABLE [dbo].[QUESTIONQUEUE] CHECK CONSTRAINT [FK_QUESTIONQUEUE_USERS]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([IDUser])
REFERENCES [dbo].[USERS] ([IDUser])
GO
ALTER TABLE [dbo].[TEACHER]  WITH CHECK ADD FOREIGN KEY([IDField])
REFERENCES [dbo].[FIELD] ([IDField])
GO
ALTER TABLE [dbo].[TEACHER]  WITH CHECK ADD FOREIGN KEY([IDUser])
REFERENCES [dbo].[USERS] ([IDUser])
GO
