@model IEnumerable<TrangWebTuVanSinhVien.Models.QUESTIONNOTCHECK>

@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div>

</div>

<div>
    @using (Html.BeginForm())
    {
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Câu Hỏi</th>
                    <th>Duyệt</th>
                    <th>Chuyển giao</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td name ="id">@item.QuestionID</td>
                        <td>@item.Question</td>
                        <td>
                            @Html.ActionLink("Duyệt", "Duyet",new { id=item.QuestionID})
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>



        </table>
    }

</div>
