@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div>

        <div>
            <div class="container">
                <h2>Nav</h2>
                <p>Basic horizontal menu:</p>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="jumbotron text-center">
            <h1>Trang web Tư vấn sinh viên</h1>
            <h2>Trường đại học Sư phạm Kĩ thuật thành phố Hồ Chí Minh</h2>
        </div>
    </div>
</body>
</html>
